<h1 class="page-title">Beers.</h1>

<div class="row index-page">
  <%# <ul class="col-md-6 offset-md-2">%>
    <div class="col-md-6 offset-md-3">
    <% beers.forEach(beer => { %>
      <div class="row index-beer">
        <div class="row image-box">
          <div class="index-text">
            <div class="centered caption">
              <h2><a href="/beers/<%= beer._id%>"><%= beer.name %></a></h2>
              </br>
              <p><%= beer.tagline %></p>
              <p><%= beer.description %></p>
              <p><%= beer.abv %> %</p>
            </div>
          </div>
          <img class="index-img" src="<%= beer.image %>">
        </div>
      </div>
    <% }); %>
    </div>
  <%# </ul>%>
</div>
