<h1 class="page-title">Beers.</h1>

<div class="row">
  <ul>
    <div class="col">
    <% beers.forEach(beer => { %>
      <li>
      <a href="/beers/<%= beer._id%>"><%= beer.name %></a>
      </br>
      <p><%= beer.tagline %></p>
      <p><%= beer.description %></p>
      <p><%= beer.abv %> %</p>
      <img src="<%= beer.image %>">
      </li>
      </br>
      <% }); %>
    </div>
  </ul>
</div>
