<h1 class="page-title"><%= beer.name %></h1>

<div class="row show-page">
  <div class="col-md-6 offset-md-3 show-beer">
    <p><%= beer.tagline %></p>
    <p><%= beer.description %></p>
    <p><%= beer.abv %> %</p>
    <p>Average rating: <%= avg %></p>
    <div class="col-md-6 show-image">
      <img src="<%= beer.image %>">
    </div>
  </div>


  <form action="/beers/<%= beer._id %>" method="post">
    <div class="box box-orange box-example-1to10">
      <div class="box-header">Rate this beer</div>
      <div class="box-body">
        <select id="example-1to10" name="rating" autocomplete="off">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
    <textarea name="body" rows="4" cols="60"></textarea>
    <button type="submit" name="action">Submit comment</button>
  </form>

  <ul>
  <% beer.comments.forEach(comment => { %>
    <li><%= comment.username %> &middot; <%= comment.body %> &middot; <%= comment.rating %>/10</li>
  <% }) %>
  </ul>

<%# <form action="/profile" method="POST">%>
  <button type="submit" name="action"><a href="/beers/<%= beer._id %>/favourite">Add to favourites!</a></button>
<%# </form>%>
  <button><a href="/beers/<%= beer._id %>/edit">Edit</a></button>
  <form action="/beers/<%= beer.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
  </form>
</div>
