<h1 class="page-title"><%= beer.name %></h1>

<li>
<h2><%= beer.name %></h2>
</br>
<p><%= beer.tagline %></p>
<p><%= beer.description %></p>
<p><%= beer.abv %> %</p>
<p><%= avg %></p>
<img src="<%= beer.image %>">
</li>


<form action="/beers/<%= beer._id %>" method="post">
  <div class="box box-orange box-example-1to10">
    <div class="box-header">1/10 Rating</div>
    <div class="box-body">
      <select id="example-1to10" name="rating" autocomplete="off">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected="selected">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
  </div>
</div>
  <textarea name="body" rows="8" cols="80"></textarea>
  <button type="submit" name="action">Submit comment</button>
</form>

<ul>
<% beer.comments.forEach(comment => { %>
    <li><a href="/users/<%= comment.user._id %>"><%= comment.username %></a> &middot; <%= comment.body %>, <%= comment.rating %></li>
<% }) %>
</ul>

<form action="/profile" method="POST">
  <%# <input type="hidden" name="_method" value="put">%>
  <button type="submit" name="action"><a href="/beers/<%= beer._id %>/favourite">Add to favourites!</a></button>
</form>
<button><a href="/beers/<%= beer._id %>/edit">Edit</a></button>
<form action="/beers/<%= beer.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
